.cf-field.cf-radio.cbhorizontal .cf-field__body ul {
  display: flex;
}
.cf-field.cf-separator.cbSeparator {
  background: black;
}
.cf-field.cf-separator.cbSeparator h3 {
  color: white;
  line-height: 1;
  margin: 0;
}
